@import "extend";

.bg-about{
  background: #665464 url(../img/bg-about.png) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
  .header_style__menu {
    .main-menu-item {
      &-active {
        background: #91778e;
      }

      &:hover {
        background: #91778e;
      }
    }
  }
}