@import "extend";

.bg-contact{
  background: #75b4aa url(../img/bg-contack.png) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
  .header_style__menu {
    .main-menu-item {
      &-active {
        background: #82c8bd;
      }

      &:hover {
        background: #82c8bd;
      }
    }
  }
}