@import "extend";

.bg-contact {
  background: #75b4aa url(../img/bg-contack.png) no-repeat;
  background-size: cover;
  height: 81%;

  .header_style__menu {
    .main-menu-item {
      &-active {
        background: #82c8bd;
      }

      &:hover {
        background: #82c8bd;
      }
    }
  }

  .title_cont {
    font-size: 30px;
  }

  .wrap {
    width: 560px;
    text-align: left;
  }

  .our__adress {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

    h5 {
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;

    }

    p {
      font-size: 16px;

    }

    .contact-me {
      margin-top: 50px;
      width: 200px;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;

      .text-color {
        color: #c0dfda;
        width: 55px;
      }
    }


    .map {
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .form {
    .flex-wrap {
      display: flex;
      justify-content: space-around;

      input {
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background: #68a097;

        margin-top: 10px;
        margin-right: 10px;
        padding-left: 25px;
        font-size: 16px;

        &::placeholder {
          color: #7bbdb3;
        }

        &:hover {
          background: #fff;
        }
      }
    }

    textarea {
      width: 525px;
      height: 150px;
      border: none;
      border-radius: 5px;
      background: #68a097;

      margin-top: 10px;
      margin-right: 10px;
      padding-left: 25px;
      font-size: 16px;

      &::placeholder {
        color: #7bbdb3;
      }

      &:hover {
        background: #fff;
      }
    }

    .bnt_form {
      margin:25px 25%;
      color: #fff;
      height: 45px;
      width: 260px;
      text-transform: uppercase;
      background: #df5c64;
      border-radius: 10px;
      border: 5px solid transparent;
      border-bottom: 5px solid #c8535a;
      &:hover{
        transition: 0.75s;
        border: 5px solid #c8535a;
        background: #fff;
        color:#c8535a ;

      }
    }
  }
}


