.header_style {
  width: 1170px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: space-around;
  justify-items: center;

  &__logo {
    padding-top: 35px;
    width: 150px;
    height: 30px;
    overflow: hidden;
  }

  &__menu {
    width: 500px;

    .main-menu {
      display: flex;
      justify-content: space-around;
      justify-items: center;

      &-item {
        padding: 40px 25px 15px;
        border-radius: 0 0 5px 5px;
        background: transparent;

        &:hover {
          background: transparent;
        }

        &-link {
          color: #fff;
        }
      }
    }
  }
}

.box {
  width: 1200px;
  margin: 75px auto 0;

  &__header {
    height: 150px;

    &__title {
      font-family: 'Lato', sans-serif;
      font-size: 60px;
      text-transform: uppercase;
    }

    &__subtitle {
      margin-top: 10px;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      text-transform: uppercase;
    }

    &__text {
      line-height: 28px;
      font-size: 14px;
    }
  }

  &__main {
    width: 1170px;
    display: flex;
    justify-content: space-between;

    &__item {
      width: 270px;
      border-radius: 5px;

      &__social {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.footer {
  height: 150px;
  background: #68a097;

  .socials-list {
    display: flex;
    justify-content: center;
    align-items: center;

    .socials-item {
      margin: 42px;

      .fab {
        font-size: 30px;
        line-height: 60px;
        color: #fff;
        width: 60px;
        height: 60px;
        background: #82c8bd;
        border-radius: 50%;
        border: 2px solid transparent;
      }

      .fa-facebook-f:hover {
        background: #4f689e;
        border: 2px solid #fff;
      }

      .fa-twitter:hover {
        background: #74c7d5;
        border: 2px solid #fff;
      }

      .fa-google-plus-g:hover {
        background: #df5c64;
        border: 2px solid #fff;
      }

      .fa-linkedin-in:hover {
        background: #3e61af;
        border: 2px solid #fff;
      }
    }
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .header_style {
    width: 970px;
  }
  .box {
    width: 990px;

    &__main {
      width: 970px;

      &__item {
        width: 235px;

      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header_style {
    width: 100%;

    .main-menu {
      top: 5%;
      right: 5%;
      position: relative;
      display: inline-block;

      &,
      &:before,
      &:after {
        cursor: pointer;
        border-radius: 5px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
      }

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }

      & li {
        display: none;
        border: 2px solid transparent;

        & a {
          font-size: 15px;
          padding: 5px 50px;
          color: #fff;
          border: 2px solid transparent;
        }
      }

      &:hover {
        position: absolute;
        transition: 0.75s;
        opacity: 0.95;
        border-radius: 5px;
        width: 220px;
        height: 150px;
        background: none;
        right: -5%;
        top: 0;
        bottom: 0;

        &:before {
          display: none;
        }

        &:after {
          display: none
        }

        & li {
          display: block;
          padding: 5px;

          z-index: 1000;

          &:hover {
            transition: 0.5s;
            border-radius: 5px;
            border: 2px solid #c3c3c3;

            & a:hover {
              color: #c3c3c3;
            }
          }
        }
      }
    }
  }


  .box {
    width: 700px;
  }

  &__main {
    width: 730px;
  }

}

@media (max-width: 767.98px) {
  .header_style {
    width: 730px;

    .main-menu {
      top: 5%;
      right: 9%;
      position: relative;
      display: inline-block;

      &,
      &:before,
      &:after {
        cursor: pointer;
        border-radius: 5px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
      }

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }

      & li {
        display: none;

        & a {
          font-size: 15px;
          padding: 5px 50px;
          color: #fff;
          border: 2px solid transparent;
        }
      }

      &:hover {
        position: absolute;
        transition: 0.75s;
        opacity: 0.95;
        border-radius: 5px;
        width: 320px;
        height: 150px;
        background: none;
        right: -55px;
        top: 0;
        bottom: 0;

        &:before {
          display: none;
        }

        &:after {
          display: none
        }

        & li {
          display: block;
          padding: 5px;
          z-index: 1000;

          &:hover {
            transition: 0.5s;
            border-radius: 5px;
            border: 2px solid #c3c3c3;

            & a:hover {
              color: #737373;
            }
          }
        }
      }
    }
  }

  .box {
    width: 95%;
  }
  &__main {
    width: 100%;
  }
}




