@import "extend";

.bg-services {
  background: #b74c52 url(../img/bg-services.png) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;

  .header_style__menu {
    .main-menu-item {
      &-active {
        background: #df5c64;
      }

      &:hover {
        background: #df5c64;
      }
    }
  }
}