@import "extend";

section {
  background: #2c3e50 url(../img/bg-welcome.png) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;


  .header_style__menu {
    .main-menu-item {
      &-active {
        background: #74c7d5;
      }

      &:hover {
        background: #74c7d5;
      }
    }
  }
}