@import "extend";

.bg-work{
  background: #81a256 url(../img/bg-work.png) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
  .header_style__menu {
    .main-menu-item {
      &-active {
        background: #a1ca6c;
      }

      &:hover {
        background: #a1ca6c;
      }
    }
  }
}